<div class="container">
    <div class="breadcrumbs row">
        <ol class="breadcrumb">
            <li><a href="/">Übersicht</a></li>
            <li>{{ vm.coffeeBar.name }}</li>
        </ol>
    </div>

    <h2>{{ vm.coffeeBar.name }} in {{ vm.coffeeBar.city }}</h2>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="coffee in vm.coffees" ng-click="vm.selectedCoffee = coffee">
                    <p ng-bind="coffee.coffeeType"></p>
                </li>
            </ul>
        </div>
    </div>
        <div class="row coffee-rating">
        <div class="col-md-6">
            <div class="coffee-rating__total" ng-bind-template="{{vm.selectedCoffee.coffeeType}}"></div>
            <div class="coffee-rating__total" ng-bind-template="{{vm.selectedCoffee.score}}"></div>
            <ul>
                <li>
                    <div class="coffee-rating__score">
                        <p><span class="coffee-rating__score__aspect">Aroma</span>: <span ng-bind-template="{{vm.selectedCoffee.aroma}}/10"></span></p>
                    </div>
                </li>
                <li class="col-md-12 coffee-rating__score coffee-rating__score--aroma">
                    <cc-score name="Aroma" max="5" score="vm.selectedCoffee.aroma"></cc-score>
                </li>
                <li class="col-md-12 coffee-rating__score coffee-rating__score--appearance">
                    <cc-score name="Appearance" max="1" score="vm.selectedCoffee.appearance"></cc-score>
                </li>
                <li class="col-md-12 coffee-rating__score coffee-rating__score--atmosphere">
                    <cc-score name="Atmosphere" max="1" score="vm.selectedCoffee.atmosphere"></cc-score>
                </li>
                <li class="col-md-12 coffee-rating__score coffee-rating__score--additional">
                    <cc-score name="Additional" max="1" score="vm.selectedCoffee.additional"></cc-score>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <leaflet width="100%" height="480px" markers="vm.markers"></leaflet>
    </div>

</div>