<div class="container">
    <div class="breadcrumbs row">
        <ol class="breadcrumb">
            <li><a href="/">Übersicht</a></li>
            <li>{{ vm.coffeeBar.name }}</li>
        </ol>
    </div>

    <h2>{{ vm.coffeeBar.name }} in {{ vm.coffeeBar.city }}</h2>

    <div class="row">
        <div class="coffee col-md-6">
            <div class="col-md-3 coffee-list">
                <ul>
                    <li ng-repeat="coffee in vm.coffees" ng-click="vm.changeCoffee(coffee)" ng-class="{'coffee-list--selected': coffee._id == vm.selectedCoffee._id}">
                        <p ng-bind="coffee.coffeeType"></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 coffee-rating">
                <div class="coffee-rating__total col-md-12">
                    <span class="coffee-rating__total__title">Punkte:</span>
                    <span class="coffee-rating__total__score" ng-bind="vm.selectedCoffee.score"></span>
                    <span class="coffee-rating__total__max">/15</span>
                </div>
                <div class="coffee-rating__aroma col-md-12">
                    <span class="coffee-rating__aroma__title">Aroma:</span>
                    <span class="coffee-rating__aroma__score" ng-bind="vm.selectedCoffee.aroma"></span>
                    <span class="coffee-rating__aroma__max">/10</span>
                </div>
                <ul coffee-rating__secondary_values>
                    <li class="col-md-12 coffee-rating__score coffee-rating__score--appearance">
                        <cc-score title="Appearance" max="1" attribute="appearance" coffee="vm.selectedCoffee"></cc-score>
                    </li>
                    <li class="col-md-12 coffee-rating__score coffee-rating__score--atmosphere">
                        <cc-score title="Atmosphere" max="1" attribute="atmosphere" coffee="vm.selectedCoffee"></cc-score>
                    </li>
                    <li class="col-md-12 coffee-rating__score coffee-rating__score--additional">
                        <cc-score title="Additional" max="1" attribute="additional" coffee="vm.selectedCoffee"></cc-score>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <leaflet class="bar-map map" height="320px" markers="vm.markers"></leaflet>
        </div>
    </div>
</div>